<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miniAPP.mapper.FrUserFormidMapper" >
  <resultMap id="BaseResultMap" type="com.miniAPP.pojo.FrUserFormid" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_openid" property="userOpenid" jdbcType="CHAR" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
    <result column="get_time" property="getTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--<select id="getFormIDListByUserID" resultType="com.miniAPP.pojo.FrUserFormid">-->
    <!--SELECT * FROM fr_user_formid WHERE user_id = #{userId}-->
  <!--</select>-->

  <select id="getFormIDListByUserID" resultMap="BaseResultMap">
    SELECT * FROM fr_user_formid WHERE user_id = #{userId}
  </select>

  <delete id="deleteFormid">
    DELETE FROM fr_user_formid WHERE form_id = #{formId}
  </delete>
</mapper>